﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Portfolio Item - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/portfolio-item.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Cortes</a>
                    </li>
                    <li>
                        <a href="#">Contacto</a>
                    </li>
                    <li>
                        <a href="#">Institucional</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">
        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                   FRIGORÍFICO RAFAELA        
                   <small>Nuestros Productos</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive" src="http://www.definicionabc.com/wp-content/uploads/2015/03/Vaca.jpg" alt="">
            </div>
            <div class="col-md-4">
                <h3>Vaca</h3>
                <p>La vaca en el caso de la hembra, o toro en el caso del macho, es un mamífero artiodáctilo de la familia de los bóvidos.</p>
                <h3>Datos Adicionales:</h3>
                <ul>
                    <li>Precio: 5000$</li>
                    <li>Peso aporx: 1 ton.</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
        <!-- Related Projects Row -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Cortes que componen este corte</h3>
            </div>
                <div class="col-sm-3 col-xs-6 corte-peq">
                    <a href="#">
                        <img class="img-responsive portfolio-item" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8V8DZBVqkkVp6qSeCcsstUL5H8wd4wZFYS_NyJtO_-2qdpsFW" alt="">
                    </a>
                </div>
            <div class="col-sm-3 col-xs-6 corte-peq">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://www.blueberg.com.ar/image/carne/roja/vaca/matambre.jpg" alt="">
                </a>
            </div>  <div class="col-sm-3 col-xs-6 corte-peq">
    <a href="#">
        <img class="img-responsive portfolio-item" src="http://cuantas-calorias.org/wp-content/uploads/2016/05/chorizos-2.jpg" alt="">
    </a>
</div>  <div class="col-sm-3 col-xs-6 corte-peq">
    <a href="#">
        <img class="img-responsive portfolio-item" src="http://resize1-doctissimocom.ladmedia.fr/r/624,600,forcey,center-middle,ffffff/img/var/doctissimo/storage/images/common/nutricion/galerias-nutricion/alimentos-ricos-en-proteinas/proteinas-morcilla/398453-1-esl-ES/la-morcilla.jpg" alt="">
    </a>
</div>  

       <hr />
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
